@font-face {
  font-family: "iconfont"; /* Project id 2536250 */
  src: url('//at.alicdn.com/t/font_2536250_rt7g037gvpd.woff2?t=1620552139099') format('woff2'),
       url('//at.alicdn.com/t/font_2536250_rt7g037gvpd.woff?t=1620552139099') format('woff'),
       url('//at.alicdn.com/t/font_2536250_rt7g037gvpd.ttf?t=1620552139099') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconjiao:before {
  content: "\e614";
}

.icon1007:before {
  content: "\e727";
}

.iconxietang:before {
  content: "\e683";
}

.iconmubiao:before {
  content: "\e62a";
}

.iconshengming:before {
  content: "\e626";
}

.iconbaojian:before {
  content: "\e601";
}

.iconarrow-:before {
  content: "\e628";
}

.iconhechengfenxi:before {
  content: "\e655";
}

.iconyiwen:before {
  content: "\e632";
}

.iconzhuanhuan:before {
  content: "\e61c";
}

.iconshujujuzhen:before {
  content: "\e69c";
}

.iconfanhui:before {
  content: "\e60f";
}

.iconxiangxia:before {
  content: "\e60c";
}

.iconchakan:before {
  content: "\e618";
}

.iconliebiao:before {
  content: "\e606";
}

.iconxiangshang:before {
  content: "\e77b";
}

.iconkaidianbaodian:before {
  content: "\e638";
}
